/* 
ФОНИ:
- Header & advantages, areas, portfolio, portf-cards - #FFFFFF
- Hero & Footer: 

- Sections:  - #E5E5E5 
- Sections team - #F5F4FA

- btn in portfolio - #F5F4FA
- btn active -  #2196f3;

ТЕКСТИ:
- Акцентний (зміна при наведені) + btn active - #2196f3;
- Лого(Studio) - #000000;
- Осн кол навігації & h2, h3: #212121
- Конаткти шапки & h4, посада: #757575
- Текст героя та кнопки: #FFFFFF
- Контактів футера -  rgba(255, 255, 255, 0.6) */

:root {
  --primary-bgc: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --contrast-color: #fff;
}

body {
  background-color: var(--primary-bgc);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

header {
  margin: 6px auto 32px;
  background-color: #fff;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

.container {
  width: 1200px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid greenyellow;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Logo */

.logo:hover,
.logo:focus {
  background-color: red;
}

.logo-blue {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-blue:hover {
  color: #000000;
}

.logo-black {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-black:hover {
  color: var(--accent-color);
}

.section-title {
  margin: 0 auto;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  outline: 2px solid greenyellow;
}
/*  Site nav */

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.head-contacts a {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.head-contacts a:hover,
.head-contacts a:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  padding: 200px 0;
  margin: 0 auto 94px;

  background-color: #2f303a;
  text-align: center;
  outline: 2px solid greenyellow;
}

.hero-title {
  margin: 0 auto 30px;
  color: #ffffff;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; - added to .hero*/
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Features */
.features .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

.section-features {
  margin: 0 0 94px;
}

/* Areas */
.section-area {
  margin: 0 0 112px;
}

/* Team */
.section-team {
  background-color: #f5f4fa;
}

.team .name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Button */
.button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0 auto;
  display: block;

  color: var(--contrast-color);
  background-color: var(--accent-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  /* text-align: center; - added to .hero*/
  letter-spacing: 0.06em;
}

.button.secondary {
  padding: 6px 22px;

  color: #212121;
  background-color: #f5f4fa;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button.secondary:focus,
.button.secondary:hover {
  color: var(--contrast-color);
  background-color: var(--accent-color);
}

/* СТИЛІ для Portfolio */

.filter-category {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}

.project-name {
  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Footer */
.footer {
  background-color: #2f303a;
}

.logo-white {
  color: var(--contrast-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.adress {
  color: var(--contrast-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.adress:hover,
.adress:focus {
  color: var(--accent-color);
}

.ftr-contacts {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.ftr-contacts:hover,
.ftr-contacts:focus {
  color: var(--accent-color);
}
